@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');


*, *::before, *::after{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
:root{
    --theme-color: #b9fb10;
}
body{
    background: #aaa;
    font-family: 'Dancing Script', cursive;
}
.container{
    position: absolute;top: 50%;left: 50%;
    transform: translate(-50%,-50%);
}
.card{
    width: 320px;height: 420px;
    border-top: 3px solid rgba(255,255,255,.35);
    border-radius: 1.2rem;
    background: linear-gradient(to bottom, var(--theme-color) 110px, #f3f4f7 110px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    padding: 3rem 0;
}
.card *{
    text-align: center;
    letter-spacing: 1px;
}
.card img{
    position: relative;
    display: block;
    width: 100px;height: 100px;
    border-radius: 50%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    margin: 0 auto;
    box-shadow: 0 0  0 .5rem var(--theme-color);
}
.card h3{
    color: var(--theme-color);
    font-size: 1rem;
    margin: 1rem 0 .5rem 0;
}
.card h5{
    color: #454545;
    font-size: .8rem;
}
.card .details{
    width: 100%;
    display: flex;justify-content: space-around;
    margin-top: 2rem;
}
.card .details span{
    color: var(--theme-color);
    font-size: 1.5rem;
}
.card .details span i{
    margin-top: 1rem;
}
.card .buttons{
    width: 100%;
    display: flex;justify-content: space-around;
    margin-top: 1rem;
}
.card .buttons button{
    width: 120px;
    padding: .5rem 0;
    border-radius: 1.5rem;
    border: 3px solid var(--theme-color);
}
.card .buttons button:first-child{
    background-color: var(--theme-color);
    color: #f3f4f7;
}
.card .buttons button:last-child{
    background-color: transparent;
    color: var(--theme-color);
}