@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');


*, *::before, *::after{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
:root{
    --theme-color: #b9fb10;
}
body{
    background: #444;
    font-family: 'Fredericka the Great', cursive;
}
.container{
    position: absolute;top: 50%;left: 50%;
    transform: translate(-50%,-50%);
}
.container:before,
.container:after {
    position: absolute;
    content: '';
    height: 150px;width: 150px;
    border-radius: 50%;
    box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0.2);
    animation: orbit 5s linear infinite;
}
.container:before {
    background: #ffe897;
    background: -moz-radial-gradient(top right, #ffe897, #ff3c00);
    background: radial-gradient(to bottom left, #ffe897, #ff3c00);
    background: -webkit-radial-gradient(top right, #ffe897, #ff3c00);
}
.container:after {
    background: #e0e793;
    background: -moz-radial-gradient(bottom right, #e0e793, #00de96);
    background: radial-gradient(to top left, #e0e793, #00de96);
    background: -webkit-radial-gradient(bottom right, #e0e793, #00de96);
    right: 0;top: 0;
    animation-delay: 2.5s;
    z-index: -1;
}

@keyframes orbit {
    from {
      transform: rotate(0deg) translateX(100px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translateX(100px) rotate(-360deg);
    }
}
.card{
    width: 320px;height: 420px;
    border-top: 3px solid rgba(255,255,255,.35);border-left: 3px solid rgba(255,255,255,.35);
    border-radius: 1.2rem;
    background: linear-gradient(to bottom, var(--theme-color) 110px, rgba(243, 244, 247,.15) 110px);
    box-shadow: 0 .5rem 1rem rgba(255,255,255,.15);
    padding: 3rem 0;
}
.card *{
    text-align: center;
}
.card img{
    position: relative;
    display: block;
    width: 120px;height: 120px;
    border-radius: 50%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    margin: 0 auto;
    box-shadow: 0 0 0 .5rem var(--theme-color);
}
.card h2{
    color: var(--theme-color);
    font-size: 1rem;
    margin: 1rem 0 .5rem 0;
    letter-spacing: 1.5px;
}
.card h4{
    color: #f3f4f7;
    font-size: .8rem;
    letter-spacing: 2.5px;
}
.card .details{
    width: 100%;
    display: flex;justify-content: space-around;
    margin-top: 2rem;
}
.card .details span{
    color: var(--theme-color);
    font-size: 1.5rem;
}
.card .details span i{
    margin-top: 1rem;
}
.card .buttons{
    width: 100%;
    display: flex;justify-content: space-around;
    margin-top: 1rem;
}
.card .buttons button{
    width: 120px;
    padding: .5rem 0;
    border-radius: 1.5rem;
    border: 3px solid var(--theme-color);
}
.card .buttons button:first-child{
    background-color: var(--theme-color);
    color: #f3f4f7;
}
.card .buttons button:last-child{
    background-color: transparent;
    color: var(--theme-color);
}
.container .themes{
    background: rgba(243, 244, 247,.15);
    box-shadow: 0 .5rem 1rem rgba(255,255,255,.15);
    border-top: 3px solid rgba(255,255,255,.35);border-left: 3px solid rgba(255,255,255,.35);
    border-radius: 1.5rem;
    padding: 1.25rem;
    margin-top: 2.5rem;
    display: flex;justify-content: space-around;
}
.container .themes button{
    width: 25px;height: 25px;
    border-radius: 50%;
    border: 3px solid #aaa;
    outline: none;
    cursor: pointer;
}
.container .themes button.btn1{
    background-color: #3867d6;
}
.container .themes button.btn2{
    background-color: #fc427b;
}
.container .themes button.btn3{
    background-color: #ff0033;
}
.container .themes button.btn4{
    background-color: #4b0082;
}
.container .themes button.btn5{
    background-color: #004930;
}